#myDIV {
  width: 300px;
  height: 200px;
  background: red;
  animation: mymove 2s infinite;
}
#div1 {
  width: 300px;
  height: 200px;
  background: lightblue;
  animation: mymove 2s infinite;
}


@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}

@keyframes div1 {
    from {font-family:lightblue;}
    to {font-family: yellow;}
    
}